<div class="container">
  <div class="row">
    <div class="col">
      <h2> Customer Information </h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h5>First Name:</h5>
      <p id="firstName">{{hero.firstName}}</p>
      <h5>Address:</h5>
      <p id="address">{{hero.address}}</p>
      <h5>Phone Number:</h5>
      <p id="phoneNumber">{{hero.phoneNumber}}</p>
    </div>
    <div class="col">
      <h5>Last Name:</h5>
      <p id="lastName">{{hero.lastName}}</p>
      <h5>City / State:</h5>
      <p id="cityState">{{hero.cityState}}</p>
      <h5>Pager Number:</h5>
      <p id="pagerNumber">{{hero.pagerNumber}}</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <h2> Account Information </h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h5>Plastic Number:</h5>
      <p id="plasticNumber">{{hero.name}}</p>
      <h5>Credit Line:</h5>
      <p id="creditLine">{{hero.creditLine}}</p>
      <h5>Account Status:</h5>
      <p id="accountStatus">{{hero.accountStatus}}</p>
    </div>
    <div class="col">
      <h5>Account ID:</h5>
      <p id="accountID">{{hero.id}}</p>
      <h5>Current Balance:</h5>
      <p id="currentBalance">{{hero.currentBalance}}</p>
      <h5>Account Status Date:</h5>
      <p id="accountStatusDate">{{hero.accountStatusDate}}</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <h2> Available Offers </h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h5>Change Credit Line:</h5>
      <input type="text" class="form-control" id="newCreditLine" placeholder="New Credit Line">
      <br>
      <h5>Fee Waiver:</h5>
      <input type="text" class="form-control" id="feeWaiver" placeholder="Fee Waiver Amount" disabled>

    </div>
    <div class="col">
      <h5>Change APR:</h5>
      <input type="text" class="form-control" id="feeWaiver" placeholder="New APR" disabled>
      <br>
      <h5>Balance Transfer:</h5>
      <input type="text" class="form-control" id="balanceTransfer" placeholder="Balance Transfer Amount" disabled>
    </div>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col">
      <h2>Account Notes</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h5>Enter Account Note:</h5>
      <textarea rows="5" class="form-control" id="accountNotes" placeholder="Enter Account Notes"></textarea>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div style="font-family: 'Orbitron', sans-serif; color:#48CF85; font-size: 200%; text-align: center;" class="col">
      <a id="submitUpdate" href="heroSearch">Submit Updates</a>
    </div>
  </div>
</div>

<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
