<div class="container">
  <div class="row">
    <div class="col">
      <h2> Hello! I am Customer Service System 2000! </h2>
      <p>The CuSS 2000 is the most advanced servicing platform and runs on the fastest mainframe computer in 1983. Welcome to the most sophisticated exerience of our time.</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h5>Current Status:</h5>
      <p>Fully Operational</p>
      <h5>Memory Available:</h5>
      <p>6871kb</p>
      <h5>Customers Serving:</h5>
      <p>285,218</p>
      <h5>Created By:</h5>
      <p>Kevin Flynn</p>
    </div>
    <div class="col">
      <h5>Domains:</h5>
        <p>Branded Credit Cards</p>
        <p>CoBranded Credit Cards</p>
        <p>Small Business Cards</p>
      <h5>Manufactured By:</h5>
      <p>University of Illinois' Coordinated Science Laboratory</p>
      <h5>ID Number:</h5>
      <p>HAL 9000 Model 102</p>
    </div>
  </div>
</div>

<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
