<div class="container">
  <div class="row">
    <div class="col">
      <h2> Hello! I am Customer Service System 2000! </h2>
      <p>The CuSS 2000 is the most advanced servicing platform and runs on the fastest mainframe computer in 1983. Welcome to the most sophisticated exerience of our time.</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h5>Accountable Executive:</h5>
      <p>John Standard</p>
      <h5>Accountable Executive Designee:</h5>
      <p>Sarah Valentine</p>
      <h5>Control Owner:</h5>
      <p>Jay Watts</p>
      <h5>Compliance Advisor:</h5>
      <p>Nigel McRichie</p>
    </div>
    <div class="col">
      <h5>Domains:</h5>
        <p>Branded Credit Cards</p>
        <p>CoBranded Credit Cards</p>
        <p>Small Business Cards</p>
      <h5>Executed by:</h5>
      <p>First Line</p>
      <h5>ID Number:</h5>
      <p>CTRL-020030515</p>
    </div>
  </div>
</div>

<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
